{% extends "base.html" %} {% block title %}Home - Fake Logo Detection{% endblock
%} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %} {% block content %}
<section id="home" class="section">
  <h1>Welcome to Fake Logo Detection</h1>
  <p>Your reliable tool to detect fake logos and protect your brand!</p>
  <button
    class="cta-button"
    onclick="window.location.href='{{ url_for('register') }}'"
  >
    Get Started
  </button>
</section>
{% endblock %}
